.NavBar {
    display: flex;
    justify-content:space-between;
    color: #090401;
    padding: 100px;
}
.NavBar a{
    text-decoration: none;
    color: inherit;
}

body{
    margin: 0px;
    height: 100%;
}

.NavBar{
    background-image: url('../assets/nav.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}
.Error{
    background-image: url('../assets/8.png');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
  height: 1000px;
}

.Home {
    background-image: url('../assets/6.png');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} 


.Index, .New,.Show, .edit,.Cart{
    background-image: url('../assets/7.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.Games{
    display: flex;
}

.cards{
    grid-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card{
    background-color: #4a04bb;
    border: 1px transparent;
    border-radius: 8px;
    grid-column: auto;
    transition: transform .2s;
    width: 70%;
}

.card:hover{
    transform: scale(1.5);
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 5%;
}

textarea{
    resize: none;
    outline: none;
}

#form-container{
    display: grid;
    /* align-content:center; */
    /* justify-content: center; */
    justify-items: center;

}
form{
    display: grid;
    grid-row: 0px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    justify-items: stretch;
}